### Recommendations Rank & Knowledge Based:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

In [2]:
reviews.tail()

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
712332,53966,6644200,7,1530049728,2018-06-26 21:48:48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712333,53966,6684714,5,1516287632,2018-01-18 15:00:32,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712334,53967,816711,8,1371972851,2013-06-23 07:34:11,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
712335,53968,1559547,2,1373287369,2013-07-08 12:42:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
712336,53968,2415464,2,1373772560,2013-07-14 03:29:20,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [3]:
reviews.shape

(712337, 23)

In [4]:
movies.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,10,La sortie des usines LumiÃ¨re (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [5]:
def popular_recommendations(user_id, n_top):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    df = reviews.groupby('movie_id').agg({'rating':['mean', 'count'], 'date':['max']})
    df.columns = ['average_rating', 'count_review', 'last_review']
    df.sort_values(['average_rating', 'count_review', 'last_review'], ascending=False, inplace=True)
    df_top_movies = df.merge(movies, how='left', on='movie_id')
    df_top_movies = df_top_movies.loc[df_top_movies['count_review']>=5]
    top_movies = [*df_top_movies.movie.values[:n_top]]

    return top_movies # a list of the n_top movies as recommended

Usint the three criteria above, you should be able to put together the above function.  If you feel confident in your solution, check the results of your function against our solution. On the next page, you can see a walkthrough and you can of course get the solution by looking at the solution notebook available in this workspace.

In [6]:
# Put your solutions for each of the cases here

# Top 20 movies recommended for id 1

recs_20_for_1 = popular_recommendations(1, 20)

# Top 5 movies recommended for id 53968
recs_5_for_53968 = popular_recommendations(53968, 5)

# Top 100 movies recommended for id 70000
recs_100_for_70000 = popular_recommendations(70000, 100)

# Top 35 movies recommended for id 43
recs_35_for_43 = popular_recommendations(43, 35)

In [7]:
### You Should Not Need To Modify Anything In This Cell
ranked_movies = t.create_ranked_df(movies, reviews) # only run this once - it is not fast

# check 1 
assert t.popular_recommendations('1', 20, ranked_movies) == recs_20_for_1,  "The first check failed..."
# check 2
assert t.popular_recommendations('53968', 5, ranked_movies) == recs_5_for_53968,  "The second check failed..."
# check 3
assert t.popular_recommendations('70000', 100, ranked_movies) == recs_100_for_70000,  "The third check failed..."
# check 4
assert t.popular_recommendations('43', 35, ranked_movies) == recs_35_for_43,  "The fourth check failed..."

print("If you got here, looks like you are good to go!  Nice job!")

If you got here, looks like you are good to go!  Nice job!

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

Try writing a few tests against the test function in our test function.  Below returns the top 20 movies for user 1 based on the specified year and genre filters.  Does yours return the same? 

```
t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy'])
```

### Test Plpular Filter

In [8]:
test = t.popular_recs_filtered('1', 20, ranked_movies, years=[2015, 2016, 2017, 2018], genres=['History', 'Comedy'])
test

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Make Like a Dog (2015)',
 'Be Somebody (2016)',
 'Poshter Girl (2016)',
 'Ayla: The Daughter of War (2017)',
 'I Believe in Miracles (2015)',
 'Bajrangi Bhaijaan (2015)',
 'The Farthest (2017)',
 'Ricky Gervais: Humanity (2018)',
 'Coco (2017)',
 'The Age of Spin: Dave Chappelle Live at the Hollywood Palladium (2017)',
 'Sado (2015)',
 'Adult Life Skills (2016)',
 'Hatred (2016)',
 'Inside Out (2015)',
 'La vida inmoral de la pareja ideal (2016)',
 'World of Tomorrow (2015)',
 'Toc Toc (2017)']

In [9]:
# my filter function.
def popular_recs_filtered(user_id, n_top, years, genres):
    
    # aggregation on rewiews dataframe.
    n_user_df = reviews.groupby('movie_id').agg({'rating':['mean', 'count'], 'date':['max']})
    n_user_df.columns = ['average_rating', 'count_review', 'last_review']
    n_user_df.sort_values(['average_rating', 'count_review', 'last_review'], ascending=False, inplace=True)
    
    # merge agg. with movies and deselect movies have reviews count less than 5.
    n_user_top_movies = n_user_df.merge(movies, how='left', on='movie_id')
    n_user_top_movies = n_user_top_movies.loc[n_user_top_movies['count_review']>=5]
    
    # get movies category for selected user.
    movies_type = reviews[reviews.user_id==user_id][['movie_id']].merge(movies, how='left', on='movie_id')
    columns = [*set("|".join([*movies_type['genre'].values]).split('|'))]
    
    # select sub rows that matched with years and genres attributes
    n_user_top_movies = n_user_top_movies[n_user_top_movies[genres].sum(axis=1).values >= 1]
    n_user_top_movies = n_user_top_movies[n_user_top_movies['date'].isin(years)]
    
    # select top n movies based on all attributes.
    top_movies = [*n_user_top_movies.movie.values[:n_top]]
    
    return top_movies

In [10]:
my_output = popular_recs_filtered(1, 20, years=[2015, 2016, 2017, 2018], genres=['History', 'Comedy'])
my_output

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Make Like a Dog (2015)',
 'Be Somebody (2016)',
 'Poshter Girl (2016)',
 'Ayla: The Daughter of War (2017)',
 'I Believe in Miracles (2015)',
 'Bajrangi Bhaijaan (2015)',
 'The Farthest (2017)',
 'Ricky Gervais: Humanity (2018)',
 'Coco (2017)',
 'The Age of Spin: Dave Chappelle Live at the Hollywood Palladium (2017)',
 'Sado (2015)',
 'Adult Life Skills (2016)',
 'Hatred (2016)',
 'Inside Out (2015)',
 'La vida inmoral de la pareja ideal (2016)',
 'World of Tomorrow (2015)',
 'Toc Toc (2017)']

In [11]:
test == my_output

True

### Another Test

In [12]:
my_output2 = popular_recs_filtered(20, 5, years=[2015, 2016, 2018], genres=['Action', 'Drama', 'Crime'])

In [13]:
test2 = t.popular_recs_filtered(20, 5, ranked_movies, years=[2015, 2016, 2018], genres=['Action', 'Drama', 'Crime'])

In [14]:
test2 == my_output2

True